:root {
  --font-1xl: 1rem;
  --font-2xl: 1.25rem;
  --font-3xl: 1.5rem;
  --font-4xl: 1.875rem;
  --font-5xl: 2.25rem;
  --font-6xl: 3rem;
  --font-7xl: 4rem;
  --font-8xl: 5rem;
  --font-9xl: 6rem;
  --font-10xl: 7rem;
  --font-11xl: 8rem;
  --font-12xl: 6rem;
}

