---
interface ProjectImages {
    project_images: string[];
}

const { project_images } = Astro.props as {
    project_images: ProjectImages["project_images"];
};
---

<section
    class="w-full max-w-[1400px] grid grid-cols-10 auto-rows-[35rem] gap-4 py-5"
>
    {
        project_images.map((image, index) => (
            <div
                class={`rounded-lg overflow-hidden ${
                    index === 0
                        ? "col-span-10"
                        : index === 3
                          ? "col-span-10"
                          : index === 1 || index === 5
                            ? "col-span-10 md:col-span-4"
                            : "col-span-10 md:col-span-6"
                }`}
            >
                <img
                    src={image}
                    alt={`Nuclio Project Image ${index + 1}`}
                    class="w-full h-full object-cover fadeIn"
                    draggable="false"
                />
            </div>
        ))
    }
</section>
