---
interface ProjectImages {
    project_images: string[];
}

const { project_images } = Astro.props as {
    project_images: ProjectImages["project_images"];
};
---

<section
    class={`w-full max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-10 
    ${
        project_images.length === 1
            ? "md:grid-cols-10 lg:grid-cols-10"
            : project_images.length === 2
              ? "md:grid-cols-10 lg:grid-cols-4"
              : "md:grid-cols-10 lg:grid-cols-6"
    } 
    gap-5 p-6 lg:p-0 pt-2  lg:grid-rows-[minmax(20rem,_auto)] md:grid-rows-[minmax(20rem,_auto)] lg:
    auto-rows-[minmax(20rem,_auto)]`}
>
    {
        project_images.map((image, index) => (
            <div
                class={`rounded-lg overflow-hidden lg:mx-0
                    ${
                        index === 0 || index === 3
                            ? "md:col-span-10 lg:col-span-10"
                            : index === 1 || index === 5
                              ? "md:col-span-10 lg:col-span-4"
                              : "md:col-span-10 lg:col-span-6"
                    }`}
            >
                <img
                    src={image}
                    alt={`Nuclio Project Image ${index + 1}`}
                    class="w-full h-full object-cover fadeIn"
                    draggable="false"
                />
            </div>
        ))
    }
</section>
