---
import projectData from "../data/projects.json";
const projects = projectData.projects;
---

<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer
></script>

<section id="projects" class="projects-section">
  {
    projects.map((project, index) => (
      <div
        class={`project-container ${
          index % 2 === 0 ? "project-reverse" : "project-normal"
        }`}
      >
        {/* Project Image */}
        <a class="project-image-wrapper" href={`/projects/${project.id}`}>
          <div
            class="project-image-container"
            style={{
              backgroundImage: `url('${project["bg-image"]}')`,
              backgroundSize: "cover",
              backgroundPosition: "center",
            }}
          >
            <img
              src={project["bg-image"]}
              alt={project.name}
              class="project-image"
            />
          </div>
        </a>

        {/* Project Title */}
        <div
          class={`project-title-container ${
            index % 2 === 0 ? "project-title-left" : "project-title-right"
          }`}
        >
          <h3 class="project-title">{project.name}</h3>
        </div>
      </div>
    ))
  }
</section>
