---
interface AlgorithmFeature {
          description: string;
          benefits?: string[];
          steps?: string[];
}

interface AlgorithmFeatures {
          [key: string]: AlgorithmFeature;
}

const { algorithm_features } = Astro.props as {
          algorithm_features: AlgorithmFeatures;
};
---

<div class="container mx-auto max-w-7xl lg:px-0">
          <h2
                    class="text-6xl lg:text-4xl mt-10
                    md:mt-20 md:mb-10
                    font-serif leading-tight tracking-wide text-[#f5f5dc] uppercase text-start"
          >
                    Algorithm <span class="italic text-[#eae0d5]">Features</span
                    >
          </h2>
          {
                    Object.entries(algorithm_features).map(([key, feature]) => (
                              <div
                                        class="border border-[#4448] p-10 rounded-xl bg-[#1a1c1e] mt-10 transform 
                                      md:p-16 md:mt-10 md:mb-5 md:hover:scale-105 md:hover:shadow-2xl
                              transition-all duration-500 hover:bg-gradient-to-t from-[#2c2f36] via-[#3c4049] to-[#4a4e58]
                               hover:shadow-2xl hover:scale-105"
                              >
                                        <h3
                                                  class="text-4xl md:text-4xl font-serif tracking-wide text-[#f5f5dc] capitalize
                                        md:mb-4 md:mt-0"
                                        >
                                                  {key.replace(/_/g, " ")}
                                        </h3>
                                        <p class="text-3xl md:text-3xl text-[#a1a1aa] mt-4 leading-relaxed py-3 tracking-wide">
                                                  {feature.description}
                                        </p>

                                        {feature.benefits && (
                                                  <ul class="list-disc list-inside text-[#c2b280] mt-4 space-y-3">
                                                            {feature.benefits.map(
                                                                      (
                                                                                benefit,
                                                                      ) => (
                                                                                <li class="leading-relaxed text-3xl md:text-3xl">
                                                                                          {
                                                                                                    benefit
                                                                                          }
                                                                                </li>
                                                                      ),
                                                            )}
                                                  </ul>
                                        )}

                                        {feature.steps && (
                                                  <ul class="list-disc list-inside text-[#c2b280] mt-4 space-y-3">
                                                            {feature.steps.map(
                                                                      (
                                                                                step,
                                                                      ) => (
                                                                                <li class="leading-relaxed text-3xl md:text-3xl">
                                                                                          {
                                                                                                    step
                                                                                          }
                                                                                </li>
                                                                      ),
                                                            )}
                                                  </ul>
                                        )}
                              </div>
                    ))
          }
</div>
