---
interface AlgorithmFeature {
          description: string;
          benefits?: string[];
          steps?: string[];
}

interface AlgorithmFeatures {
          [key: string]: AlgorithmFeature;
}

const { algorithm_features } = Astro.props as {
          algorithm_features: AlgorithmFeatures;
};
---

<div class="container mx-auto px-4 max-w-7xl space-y-6">
          <h2
                    class="text-4xl font-serif leading-tight tracking-wide text-[#f5f5dc] uppercase text-start
                              lg:text-5xl xl:text-6xl mx-4"
          >
                    Algorithm <span class="italic text-[#eae0d5]">Features</span
                    >
          </h2>
          {
                    Object.entries(algorithm_features).map(([key, feature]) => (
                              <div
                                        class="border border-[#44484d] p-8 rounded-lg bg-[#1a1c1e] 
                                        transform transition-all duration-500 
                                        hover:bg-gradient-to-t from-[#2c2f36] via-[#3c4049] to-[#4a4e58]
                                        hover:shadow-2xl hover:scale-105 
                                        w-full max-w-2xl sm:max-w-3xl mx-auto"
                              >
                                        <h3
                                                  class="text-3xl font-serif tracking-wide text-[#f5f5dc] capitalize
                                                  lg:text-4xl xl:text-5xl
                                        "
                                        >
                                                  {key.replace(/_/g, " ")}
                                        </h3>
                                        <p
                                                  class="text-base text-[#a1a1aa] mt-4 leading-relaxed
                                                  text-xl lg:text-2xl xl:text-3xl
                                        "
                                        >
                                                  {feature.description}
                                        </p>

                                        {feature.benefits && (
                                                  <ul class="list-disc list-inside text-[#c2b280] mt-4 space-y-3">
                                                            {feature.benefits.map(
                                                                      (
                                                                                benefit,
                                                                      ) => (
                                                                                <li
                                                                                          class="leading-relaxed text-base
                                                                                          text-xl lg:text-2xl xl:text-3xl
                                                                                "
                                                                                >
                                                                                          {
                                                                                                    benefit
                                                                                          }
                                                                                </li>
                                                                      ),
                                                            )}
                                                  </ul>
                                        )}

                                        {feature.steps && (
                                                  <ol class="list-decimal list-inside text-[#eae0d5] mt-4 space-y-3">
                                                            {feature.steps.map(
                                                                      (
                                                                                step,
                                                                      ) => (
                                                                                <li
                                                                                          class="leading-relaxed text-base
                                                                                          text-xl lg:text-2xl xl:text-3xl
                                                                                "
                                                                                >
                                                                                          {
                                                                                                    step
                                                                                          }
                                                                                </li>
                                                                      ),
                                                            )}
                                                  </ol>
                                        )}
                              </div>
                    ))
          }
</div>
