---
const { testingDetails, lang } = Astro.props;

const testKey = lang === "es"
  ? "configuración_de_pruebas"
  : "testing_configuration";
---

{testingDetails && (
  <div class="mt-10">
    <h2
      class="text-3xl md:text-4xl lg:text-5xl
      font-extrabold uppercase tracking-wide text-[#f5f5dc] mx-2
      "
    >
      {lang === "es" ? "Pruebas End-to-End" : "End-to-End Testing"}
    </h2>

    <section
      class="
        my-8
        flex flex-col
        max-w-7xl rounded-lg
      "
    >
      <!-- Animated Card -->
      <div
        class="
          relative shadow-2xl rounded-lg p-6
          bg-[#1a1c1e] text-start
          transform transition duration-500
          hover:scale-105 
          hover:shadow-xl
          hover:bg-gradient-to-t from-[#2c2f36] via-[#3c4049] to-[#4a4e58]
        "
      >
        <!-- Description -->
        <div class="mt-6 text-lg text-white leading-relaxed">
          {testingDetails[testKey].description.map((descObj) => (
            <p class="opacity-90 transition duration-300 hover:opacity-100 hover:text-[#ffcc00] mb-4">
              {descObj.text}
            </p>
          ))}
        </div>
      </div>
    </section>
  </div>
)}
