---
import NavBar from "../components/NavBar.astro";
const { title } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ClientRouter />

    <!-- GSAP and Lenis Scripts -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
      defer></script>
    <script src="https://unpkg.com/lenis@1.1.20/dist/lenis.min.js" defer
    ></script>
  </head>

  <body class="relative bg-[#222428]">
    <div class="relative z-10">
      <NavBar />
      <slot />
    </div>

    <script>
      // Initialize Lenis
      const lenis = new Lenis();

      // Use requestAnimationFrame to continuously update the scroll
      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
  </body>
</html>
