---
import NavBar from "../components/NavBar.astro";
import { ClientRouter } from "astro:transitions";
const { title, lang } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <!-- Client Router for Page Transitions -->
    <ClientRouter />

    <!-- GSAP and Lenis Scripts -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
      defer></script>
    <script src="https://unpkg.com/lenis@1.1.20/dist/lenis.min.js" defer
    ></script>
  </head>

  <body class="relative bg-[#222428]">
    <div class="relative z-10">
      <NavBar lang={lang} />
      <slot />
    </div>

    <script>
      // Initialize Lenis for Smooth Scrolling
      const lenis = new Lenis({
        smooth: true,
        lerp: 0.1,
        wheelMultiplier: 1,
        infinite: false,
      });

      function raf(time) {
        if (
          !document.startViewTransition ||
          document.startViewTransition.active
        ) {
          return; // Stop Lenis when transitioning
        }
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
</style>
